h1{color: rgb(255, 185, 0);font-family: Helvetica; font-size: 50px}
body{background-color: #1E733F;}
p{color: #D0DDE7; font-family: Helvetica; font-size: 20px;}
ol{color: #D0DDE7;}
a{color: #D0DDE7;text-decoration: none;}
